* text=auto
*.cs diff=csharp text
*.unity text merge=unityyamlmerge eol=lf
*.prefab text merge=unityyamlmerge eol=lf
*.asset text merge=unityyamlmerge eol=lf
*.meta text eol=lf
*.png binary
*.wav binary
*.mp3 binary
*.ttf binary
*.otf binary
